@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 8.3vh;
}
.navLogoDiv {
  width: 12vw;
  height: 6vh;
}
.navLog {
  width: 100%;
  height: 100%;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.nav-item {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.nav-item.active {
  font-weight: bold;
  color: black;
}
.nav-item.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 10px;
  height: 3px;
  background-color: #f05a26;
  border-radius: 5px;
}
.get-started {
  background: linear-gradient(to bottom, #6cc17b, #46ba85);
  color: #ffffff;
  border: none;
  border-radius: 1.875rem;
  padding: 1rem 1.3125rem;
  cursor: pointer;
  font-size: 1rem;
}
.get-started:hover {
  background-color: #0056b3;
}
.breadcrumb {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

/* home hero */
.HomeHeroDivHeight {
  height: 100vh;
}
.homeHerobg {
  background-color: #f6f6f6;
}
.homeHeroHeadLinkDiv {
  /* width: 47.56rem; */
  width: 100%;
}
.homeHeroHeadline {
  font-size: 4.9rem;
  font-weight: 700;
  color: #292d32;
  line-height: 85px;
}
.homeHeroPeraDiv {
  width: 27rem;
  text-align: justify;
}
.homeHeroPera {
  font-size: 16px;
  color: #292d32;
}
.homeHeroGetButton {
  background: linear-gradient(to bottom, #6cc17b, #46ba85);
  padding: 1rem 3rem;
  color: #ffffff;
  font-size: 1rem;
  border: 1.5px solid #6cc17b;
  border-radius: 2.5rem;
  transition: all 0.3s ease-in-out;
}
.homeHeroGetButton:hover {
  background: #f6f6f6;
  padding: 1rem 3rem;
  color: black;
  box-shadow: gainsboro 2px 8px 4px;
  font-size: 1rem;
  border: 1.5px solid #6cc17b;
  border-radius: 2.5rem;
}

.homeScheduleButton {
  border: 1.5px solid #6cc17b;
  padding: 0.5rem 1.5rem;
  color: #292d32;
  font-size: 1rem;
  border-radius: 2.25rem;
  transition: all 0.3s ease-in-out;
}
.homeScheduleButton:hover {
  background: linear-gradient(to bottom, #6cc17b, #46ba85);
  border: 1.5px solid #6cc17b;
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 2.25rem;
  box-shadow: gainsboro 2px 8px 4px;
}
.homeHeroImgaDiv {
  width: 105%;
  height: 484px;
}
.homeHeroImga {
  width: 100%;
  height: 100%;
}

/* trusted coustomers logo */
.trustedText {
  font-size: 18px;
  color: #292d32;
}
.trustLogoDiv {
  width: 165px;
  height: 50px;
}
.trustLogo {
  width: 100%;
  height: 100%;
}

/* footer css */
.footerbg {
  background-color: #f2f2f2;
}

.footerLogoDiv {
  width: 8.33vw;
  height: 3.24vh;
}
.footerlogo {
  width: 100%;
  height: 100%;
}
.footerMetaLogoDiv {
  width: 5.42vw;
  height: 5.37vh;
}
.footerMetaLog {
  width: 100%;
  height: 100%;
}
.footerInfoHeadline {
  color: #292d32;
  font-size: 18px;
  font-weight: 600;
}
.footerInfoHeadlineSub {
  color: #292d32;
  font-size: 15px;
  font-weight: 600;
}
.footerPera {
  font-size: 14px;
  font-weight: 400;
}
.footerMailIcon {
  width: 18px;
  height: 18px;
}
.foterSocialIconDiv {
  width: 15px;
  height: 15px;
}
.foterSocialIcon {
  width: 100%;
  height: 100%;
}

/* homeFeatures */
.homeFeaturesbg {
  background-color: #f5f4ff;
}
.HomeFeturesHeadline {
  font-size: 3.375rem;
  color: #292d32;
  font-weight: 600;
}
.homeFeaturesLogoDiv {
  width: 60px;
  height: 60px;
}
.homeFeaturesLogo {
  width: 100%;
  height: 100%;
}
.cardFeaturesHeadline {
  font-size: 1.5rem;
  color: #292d32;
  font-weight: 500;
}
.HomeFeturescardShadow {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* box-shadow: none;  */
}
.HomeFeturescardShadow:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* WhatsAppChatBots */
.whatsAppChatBotsBg {
  background-color: #f8f4e9;
}
.whatsAppChatbotsImgDiv {
  width: 100%;
  height: 600px;
}
.whatsAppChatbotsImg {
  width: 100%;
  height: 100%;
}
.whatsAppChatBotsText {
  font-size: 16px;
  color: #292d32;
  background-color: #ffffff;
  font-weight: 500;
}
.wahtsChatbotswhatsLogoDiv {
  width: 14px;
  height: 14px;
}
.wahtsChatbotswhatsLogo {
  width: 100%;
  height: 100%;
}
.KeepYourBusinessText {
  font-size: 1.725rem;
  color: #292d32;
  font-weight: 600;
  width: 390px;
}
.whatsAppChatBotsTextPera {
  font-size: 18px;
  font-weight: 400;
  color: #292d32;
  width: 470px;
}
.persentText {
  font-size: 18px;
}
.persentTextNumber {
  font-size: 26px;
  font-weight: 600;
}
.repleacesText {
  font-size: 14px;
  color: #292d32;
  font-weight: 400;
}
.repleacesItems {
  font-size: 12px;
  color: #525252;
}
.repleacesItemsLogoDiv {
  width: 20px;
  height: 20px;
}
.repleacesItemsLogo {
  width: 100%;
  height: 100%;
}
/* teambox */
.homeTemboxBg {
  background-color: #f2fbf5;
}
/* Broadcaster */
.broadcasterBg {
  background-color: #f4f2ff;
}
/* connectors */
.connectorsbg {
  background-color: #e9f8e3;
}

/* intrergrations */
.intregeteDivBG {
  background-image: url("/images/integrations.png");
  background-repeat: no-repeat;
  background-position-x: center;
  height: 697px;
  width: 100%;
}
.integrationsText {
  font-size: 18px;
}
.intregeteHeadline {
  font-size: 3rem;
  /* font-size: 3.375rem; */
  font-weight: 600;
  width: 852px;
}

/* happyclients */
.HappyClientSaysBg {
  background-color: #292d32;
  height: 841px;
}
.happyClientsSaysText {
  font-size: 54px;
  font-weight: 600;
}
.happyClientsSaysImgDiv {
  width: 60px;
  height: 60px;
}
.happyClientsSaysImg {
  width: 100%;
  height: 100%;
}
.clientSaySliderPera {
  font-size: 18px;
  font-weight: 400;
}

/* whaychooseWatheta */
.whaychooseWathetabg {
  background-color: #f1f0ff;
}
.whyChooseWaThetaText {
  font-size: 54px;
  font-weight: 600;
  /* width: 70%; */
}
.whyChooseWaThetaPera {
  font-size: 16px;
  width: 60%;
}
.whyChooseWathetaCardImgDiv {
  width: 94px;
  height: 100px;
}
.whyChooseCardImg {
  width: 100%;
  height: 100%;
}
.whyChooseCardHeadline {
  font-size: 24px;
  font-weight: 600;
  /* width: 60%; */
}
/* conversational */
.conversationalbg {
  background-color: #f6f6f6;
}
.conversationalHeadline {
  font-size: 54px;
  font-weight: 600;
  /* width: 50%; */
}
.conversationalCardTitle {
  font-size: 26px;
  font-weight: 600;
}
.conversationallearnMoreButton {
  font-size: 16px;
  color: #292d32;
}
.conversationalArrowDiv {
  width: 5vw; /* Adjust based on design */
  height: 5vw;
  max-width: 36px;
  max-height: 36px;
}
.conversationalArrow {
  width: 100%;
  height: 100%;
}
.conversationalIconDiv {
  width: 6vw;
  height: 6vw;
  max-width: 46px;
  max-height: 46px;
}
.conversationalIcon {
  width: 100%;
  height: 100%;
}
.viewallindustryButtonText {
  font-size: 1rem;
}

/* rescon to switch */
.resonToSwitchHeadline {
  font-size: 3.375rem;
  font-weight: 600;
  /* width: 60vw; */
}
.resonIconDiv {
  width: 5vw;
  height: 5vw;
}
.resonIcon {
  width: 100%;
  height: 100%;
}
.resonCardHeadline {
  font-size: 24px;
  font-weight: 600;
}
.resonCardPera {
  font-size: 1.1rem;
  color: #7a7a7a;
}
/* homeBlogs */
.homeBlogsBg {
  background-color: #f6f6f6;
}
.homeBlogsHeadline {
  font-size: 3.375rem;
  font-weight: 600;
}
.homeBlogsCols2ImgDiv {
  width: 100%;
  height: 42vh;
}
.homeBlogsCols2Img {
  width: 100%;
  height: 100%;
}
.homeBlogsCols1-1stImgDiv {
  width: 100%;
  height: 42vh;
}
.homeBlogsCols1-1stImg {
  width: 100%;
  height: 100%;
}
.homeBlogCardHeadline {
  font-size: 1.625rem;
  font-weight: 600;
  width: 84%;
}
.dayOrCounttext {
  font-size: 1rem;
  color: #7a7a7a;
}
.homeBlogCard2ndHeadline {
  font-size: 1.375rem;
  font-weight: 600;
  width: 95%;
}
.homeBlogsCols1-2ndImgDiv {
  width: 100%;
  height: 25vh;
}

/* HomegettingStart */
.gettingBg {
  background-color: black;
  height: 55vh;
}
.gettingHeadlin {
  font-size: 3.375rem;
  font-weight: 600;
  color: #f4f4f4;
}
.gettingPera {
  font-size: 1.12rem;
  color: #f4f4f4;
}
.gettingGetButton {
  background: linear-gradient(to bottom, #6cc17b, #46ba85);
  color: white;
}
/* High Performer */
.heighPrfomerLogoDiv {
  width: 100%;
  height: 18.375vh;
}
.heighPrfomerLogo {
  width: 100%;
  height: 100%;
}
/* Home FAQ */
.homeFaqHEeadLine {
  font-size: 3.375rem;
  font-weight: 600;
}
.homeFaqButtonDiv {
  width: 255px;
  /* background-color: #DDF2E6; */
  text-align: start;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.homeFaqButtonDivActive {
  width: 255px;
  background-color: #ddf2e6;
  text-align: start;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.homeFaqButton {
  height: 38px;
  text-align: start;
  padding-left: 10px;
  border-radius: 4px;
}
.homeFaqButtonActive {
  height: 38px;
  text-align: start;
  padding-left: 10px;
  border-left: 4px solid #5fbf7f;
  border-radius: 4px;
  font-size: 16px;
}
/* Fetueres */
.featuresHeroDiv {
  width: 100%;
  height: 570px;
}
.featuresHeroBg {
  position: absolute;
  width: 100%;
  height: 570px;
}
.featuresHeadlineDiv {
  position: relative;
}
.featuresHeadline {
  font-size: 64px;
  font-weight: 600;
}
.featuresPera {
  font-size: 20px;
  line-height: 33px;
}
.cardHover {
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.cardHover:hover {
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.featuresCardLogoDiv {
  width: 4vw;
  height: 4vw;
}
.featuresCardLogo {
  width: 100%;
  height: 100%;
}
.featuresCardHeadline {
  font-size: 1rem;
  font-weight: 500;
}
/* blogs */
.blogsHeroBg {
  background-image: url("/images/image 314.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 65vh;
}
.blogsHeroBgImg {
  width: 100%;
  height: 65vh;
}
.blogsHeroHeadline {
  font-size: 4vw;
  font-weight: 600;
}
.blogsHeroHeadPera {
  font-size: 1.5vw;
}
.blogs2ndHeroBgImgDiv {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
.blogs2ndHeroBgImg {
  position: absolute;
  width: 100%;
  height: 70vh;
}
.blogs2ndHeroContectDiv {
  position: relative;
  height: 70vh;
}
.blogsStartupsButton {
  background: #4f4f4f;
  backdrop-filter: blur(10px);
  color: white;
  font-size: 0.9vw;
}
.blogs2ndHeroHealdline {
  font-size: 2vw;
  color: white;
  width: 40vw;
}
.blogs2ndHeroPera {
  font: 1.5vw;
  color: white;
  width: 40vw;
}
.blogsReadArticleButton {
  background-color: white;
  font-size: 1.2vw;
}
.blogPageImgeDiv {
  width: 100%;
  height: 40vh;
}
.blogPageImge {
  width: 100%;
  height: 100%;
}
.blogProductText {
  font-size: 14px;
  font-weight: 600;
}
.blogProductMinText {
  font-size: 14px;
  font-weight: 400;
  color: #292d32;
}
.blogPageHeadline {
  font-size: 1.375rem;
  color: #000000;
  font-weight: 500;
  width: 96%;
}
.blogReadMoreText {
  font-size: 1rem;
  color: #292d32;
}
.blogRecentBlog {
  background-color: #e9f8e3;
}
.blogPageReasentHeadline {
  font-size: 3.375rem;
  font-weight: 600;
}
.blogePageResentBlogsImgDiv {
  width: 100%;
  height: 310px;
}
.blogePageResentBlogsImg {
  width: 100%;
  height: 100%;
}
.blogPageResentImgDiv2nd {
  /* width: 13vw; */
  width: 100%;
  height: 140px;
}
.blogPageResent2Img {
  width: 100%;
  height: 100%;
}
.joinOurNewsletterbgImgDiv {
  position: relative;
  width: 100%;
  height: 404px;
}
.joinOurNewsletterbgImg {
  position: absolute;
  width: 100%;
  height: 404px;
}
.joinOurNewsletterContentDiv {
  position: relative;
  height: 404px;
}
.JoinournewsletterText {
  font-size: 3.375rem;
  font-weight: 500;
}
.joinournewsletterPeraText {
  color: white;
  font-size: 1.125rem;
}
.joinournewsletterInputDiv{
  position: relative;
  width: 636px;
  height: 60px;
}
.joinournewsletterInput {
  position: absolute;
  background: rgba(46, 51, 57, 0.6); 
  backdrop-filter: blur(5px); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  color: white; 
  padding: 10px;
  padding-left: 20px;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
.joinournewsletterSubscribeButton{
  position: relative;
  /* left: 76%; */
  float: right;
  background: #46BA85;
  color: white;
  height: 60px;
}
/* single blogs */
.singleBlogsHeadline{
   font-size: 4rem;
}
.singleStartupButton{
  font-size: 1rem;
}
.singleBlogImgDiv{
  width: 100%;
  height: 487px;
}
.singleBlogImg{
  width: 100%;
  height: 100%;
}
.inThisArticleText{
  font-size: 1.25rem;
}
.inthisSingleButtons{
  font-size: 1rem;
  width: 180px;
  height: 36px;
}
.inthisSingleButtonsDiv{
  border-left: 4px solid #c6e7ce;
}
.inthisSingleButtonsDivActive{
  border-left: 4px solid #46BA85;
}
.shearAricleText{
  font-size: 1.25rem;
  font-weight: 600;
}
.singleBlogsPeraText{
  font-size:  1.125rem;
  color: #292D32;
}
.singleContentImgDiv{
  width: 100%;
  height: 426px;
}
.singleContentImg{
  width: 100%;
  height: 100%;
}





/* media query */
/* Mobile Styles */
@media (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 8vh;
  }
  .navLogoDiv {
    width: 90%;
    height: 4vh;
  }
  .navLog {
    width: 100%;
    height: 100%;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }
  .nav-links.active {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
  }
  .get-started {
    background: linear-gradient(to bottom, #6cc17b, #46ba85);
    color: #ffffff;
    border: none;
    border-radius: 1.875rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .breadcrumb {
    display: block;
  }
}

/* tab to pc */
@media (min-width: 601px) and (max-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 8vh;
  }
  .navLogoDiv {
    width: 90%;
    height: 4vh;
  }
  .navLog {
    width: 100%;
    height: 100%;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    transform: translateX(100%);
    transition: 0.4s ease-in-out;
  }
  .nav-links.active {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
  }
  .get-started {
    background: linear-gradient(to bottom, #6cc17b, #46ba85);
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
  }
  .breadcrumb {
    display: block;
  }
}
